{% extends 'base.html.twig' %}

{% block title %}{{ category is defined ? 'Modifier' : 'Ajouter' }} une catégorie{% endblock %}

{% block body %}
    <h1 class="h3 mb-4">{{ category is defined ? 'Modifier' : 'Ajouter' }} une catégorie</h1>

    <div class="card">
        <div class="card-body">
            {{ form_start(formCategory) }}
                {{ form_row(formCategory.name) }}
                <button type="submit" class="btn btn-success mt-3">
                    {{ category is defined ? 'Enregistrer les modifications' : 'Ajouter la catégorie' }}
                </button>
                <a href="{{ path('app_category_index') }}" class="btn btn-secondary mt-3">Annuler</a>
            {{ form_end(formCategory) }}
        </div>
    </div>
{% endblock %}
